<!DOCTYPE html>
<html ng-app = myapp>
<head>
	<title> Link Bucket </title>

	 <!-- Link to CSS Files -->
    <link rel="stylesheet" href="static/main/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="static/main/css/app.css">
</head>
<body>
	<div data-sticky-container>
		<!-- NAVBAR -->
	  	<div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
		  <div class="top-bar-left">
		    <ul class="dropdown menu" data-dropdown-menu>
		      <li class="menu-text">Link Bucket</li>
		      <li>
		        <a href="#!/">Home</a>
		        <ul class="menu vertical">
		          <li><a href="#!/addbucket">Add Bucket</a></li>
		          <li><a href="#!/add">Add Link</a></li>
		          <li><a href="#!/account">Account</a></li>
		          <li><a href="#">Logout</a></li>
		        </ul>
		      </li>
		    </ul>
		  </div>
		  <div class="top-bar-right">
		    <ul class="menu">
		    	<li><a href="#!/">Home</a></li>
		    	<li><a href="#!/addbucket">Add Bucket</a></li>
		    	<li><a href="#!/add">Add Link</a></li>
		    	<li><a href="#!/account">Account</a></li>
		    	<li><a href="#">Logout</a></li>
		    </ul>
		  </div>
		</div>
		<!-- END NAVBAR -->

		<div ng-view></div>
	</div>
	
	<!-- Link to JS Files -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-resource.js"></script>
	<script type="text/javascript" src="static/main/app.js"></script>
    <script src="static/main/js/vendor/jquery.js"></script>
    <script src="static/main/js/vendor/what-input.js"></script>
    <script src="static/main/js/vendor/foundation.js"></script>
    <script src="static/main/js/app.js"></script>
</body>



</html>